<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>你好，中文</title>
</head>
<body>
  <p>肿么就不能写中文呢？</p>

  <!--begin.rcode
  x=1+1
  pnorm(x)
  plot(mtcars[, 1:2])
  end.rcode-->

  <p>介不是好好的吗？</p>
</body>
</html>